@model IEnumerable<ApplicationStore.Models.ApplicationCategory>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped border">
    <thead class="table-info text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationStoreUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStoreUser.FirstName)&nbsp;@Html.DisplayFor(modelItem => item.ApplicationStoreUser.LastName)
            </td>
            @if (item.State == ApplicationStore.Models.ViewModels.RowStateEnum.Active)
            {
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </td>
            }
            else
            {
                <td>
                    Deleted
                </td>
            }
        </tr>
}
    </tbody>
</table>
