<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ApplicationStore</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-rtl.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/fontawesome-all.css" />
        <link rel="stylesheet" href="~/css/site.css" />
       
        <script src="~/js/DatePicker.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="collapse navbar-collapse">


            <ul class="navbar-nav mr-auto">


                <li class="nav-item"><a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">خانه</a></li>

                @if (User.IsInRole(@ApplicationStore.Utility.StaticInfo.SuperAdminUser))
                {
                    <li class="nav-item"><a class="nav-link " asp-area="admin" asp-controller="Platforms" asp-action="Index">پلتفرم</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">نرم افزار</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-area="admin" asp-controller="ApplicationCategories" asp-action="Index">گروه نرم افزار</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="Applications" asp-action="Index">نرم افزار</a>
                            <a class="dropdown-item" asp-area="admin" asp-controller="ApplicationPublishes" asp-action="Index">نسخه های نرم افزار</a>
                        </div>
                    </li>

                    <li class="nav-item"><a class="nav-link" asp-area="admin" asp-controller="AdminUsers" asp-action="Index">کاربران</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="admin" asp-controller="Comments" asp-action="Index">کامنت ها</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="FavoriteList"> علاقه مندی ها </a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="DownloadList"> دانلودها </a></li>
                }
                @if (User.IsInRole(@ApplicationStore.Utility.StaticInfo.MemberUser))
                {
                    <li class="nav-item"><a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="FavoriteList"> علاقه مندی ها </a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="DownloadList"> دانلودها </a></li>
                }

            </ul>
            <ul class="navbar-nav mr-auto">
                <partial name="_LoginPartial.cshtml" />
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0"  asp-controller="Home"  asp-action="Search"  asp-area="Customer" method="post" > 
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search this application" name="searchText" id="searchText">
                <div class="input-group-append">
                    <button  type="submit">
                        <i class="fas fa-search text-white "></i>
                    </button>

                </div>
            </div>
        </form>
    </nav>
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - ApplicationStore</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap/dist/js/fontawesome-all.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
