@using ApplicationStore.Utility.Extensions;
@model ApplicationStore.Models.ViewModels.ApplicationPublishViewModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-info">Details</h2>

<div class="row col-12">
    <div class="col-8">
        <form method="post">
            <div class="form-group">
                <label asp-for="ApplicationPublish.ApplicationId" class="control-label"></label>
                <input asp-for="ApplicationPublish.Application.Title" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationPublish.Version" class="control-label"></label>
                <input asp-for="ApplicationPublish.Version" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationPublish.PublishDate" class="control-label"></label>
                <input asp-for="PublishDateShamsi" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationPublish.RegisterDate" class="control-label"></label>
                <input asp-for="RegisterDateShamsi" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationPublish.ChangeList" class="control-label"></label>
                <input asp-for="ApplicationPublish.ChangeList" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationPublish.Price" class="control-label"></label>
                <input asp-for="ApplicationPublish.Price" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationPublish.Size" class="control-label"></label>
                <input asp-for="ApplicationPublish.Size" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationPublish.PlatformId" class="control-label"></label>
                <input asp-for="ApplicationPublish.Platform.Title" class="form-control" readonly />
            </div>

            @*<div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>*@
        </form>
    </div>
    <div class="col-4">
        <img class="card-img-top" src="@Model.PictureUrl" alt="App Image" />
    </div>
</div>

<div>
    <a asp-action="AddComment" asp-controller="Home" asp-route-id="@Model.ApplicationPublish.Id">Add Comment</a>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <table class="table table-striped border">
        <thead class="table-info text-center">
            <tr>
                <th>نام کاربر</th>
                <th>متن کامنت</th>
                <th>زمان</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Comments)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationStoreUser.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                </td>
                <td>
                    <a asp-action="LikeComment" asp-controller="Home" asp-route-id="@item.Id">Like @Model.CommentLikes.Count(c => c.CommentId == item.Id && c.IsLike)</a>
                </td>
                <td>
                    <a asp-action="DisLikeComment" asp-controller="Home" asp-route-id="@item.Id">DisLike @Model.CommentLikes.Count(c => c.CommentId == item.Id && !c.IsLike)</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
