@using ApplicationStore.Utility.Extensions;
@model ApplicationStore.Models.ViewModels.ApplicationPublishViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row col-12 p-2">
    <div class="col-8">
        <form method="post">
            <div class="form-group">
                <label asp-for="ApplicationPublish.ApplicationId" class="control-label"></label>
                <input asp-for="ApplicationPublish.Application.Title" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationPublish.Version" class="control-label"></label>
                <input asp-for="ApplicationPublish.Version" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationPublish.PublishDate" class="control-label"></label>
                <input asp-for="PublishDateShamsi" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationPublish.RegisterDate" class="control-label"></label>
                <input asp-for="RegisterDateShamsi" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationPublish.ChangeList" class="control-label"></label>
                <input asp-for="ApplicationPublish.ChangeList" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationPublish.Price" class="control-label"></label>
                <input asp-for="ApplicationPublish.Price" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationPublish.Size" class="control-label"></label>
                <input asp-for="ApplicationPublish.Size" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationPublish.PlatformId" class="control-label"></label>
                <input asp-for="ApplicationPublish.Platform.Title" class="form-control" readonly />
            </div>

            @*<div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>*@
        </form>
    </div>
    <div class="col-4">
        <img class="card-img-top" src="@Model.PictureUrl" alt="App Image" />
        @if ((bool)this.ViewBag.HasUserId)
        {
            <a asp-action="Download" asp-controller="Home" class="btn btn-success fa-pull-right btn-outline-info" asp-route-id="@Model.ApplicationPublish.Id">دانلود</a>

        }
    </div>

</div>

<div>
    <a asp-action="Index" class="btn-outline-secondary"><i class="far fa-chevron-right"></i>&nbsp;بازگشت</a>
</div>
<hr />
<div>
    <a asp-action="AddComment" asp-controller="Home" asp-route-id="@Model.ApplicationPublish.Id" class="align-self-md-center"><i class="fal fa-comment-alt-plus fa-3x"></i></a>
</div>

<div>
    <table class="table table-striped table-hover border">
        <thead class="table-info ">
            <tr>
                <th>نام کاربر</th>
                <th>متن کامنت</th>
                <th>زمان</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationStoreUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegisterDate)
                    </td>
                    <td>
                        <a asp-action="LikeComment" asp-controller="Home" asp-route-id="@item.Id"><i class="far fa-thumbs-up fa-2x"></i> @Model.CommentLikes.Count(c => c.CommentId == item.Id && c.IsLike)</a>
                    </td>
                    <td>
                        <a asp-action="DisLikeComment" asp-controller="Home" asp-route-id="@item.Id"><i class="far fa-thumbs-down fa-2x"></i> @Model.CommentLikes.Count(c => c.CommentId == item.Id && !c.IsLike)</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
