
@model ApplicationStore.Models.ViewModels.SuggestViewModel

<div class="mt-4">
    <h6>برنامه های پر دانلود </h6>
    <br />
    <div class="row">
        @foreach (var item in Model.SuggestByDownload)
        {
            <div class="col-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">
                            <label style="font-size:23px;color:steelblue;">@item.ApplicationPublish.Application.Title &nbsp; @item.ApplicationPublish.Version</label>
                        </h4>
                    </div>

                    <img class="card-img-top" width="200px" height="200px" src="@item.PictureUrl" alt="App Image" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <label style="font-size:20px; color:#a51313">
                                    @if (item.ApplicationPublish.Price.HasValue)
                                    {
                                        <b>@item.ApplicationPublish.Price ریال</b>
                                    }
                                    else
                                    {
                                        <b>رایگان </b>
                                    }

                                </label>
                            </div>
                            <a asp-action="Details" asp-controller="Home" class="btn btn-success fa-pull-right btn-outline-info" asp-route-id="@item.ApplicationPublish.Id">مشاهده جزئیات</a>
                            @if (item.IsFavorite && item.ShowIcon)
                            {

                                <img class="fas fa-heart fa-2x" style="color:teal" onclick=RemoveFavorite(@item.ApplicationPublish.Id) width="50px" height="50px" />
                            }
                            @if (!item.IsFavorite && item.ShowIcon)
                            {
                                <img class="fal fa-heart fa-2x" onclick=AddToFavorite(@item.ApplicationPublish.Id) width="50px" height="50px" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="mt-4">
    <h6>برنامه های کم حجم  </h6>
    <br />
    <div class="row">
        @foreach (var item in Model.SuggestBySize)
        {
            <div class="col-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">
                            <label style="font-size:23px;color:steelblue;">@item.ApplicationPublish.Application.Title &nbsp; @item.ApplicationPublish.Version</label>
                        </h4>
                    </div>

                    <img class="card-img-top" width="200px" height="200px" src="@item.PictureUrl" alt="App Image" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <label style="font-size:20px; color:#a51313">
                                    @if (item.ApplicationPublish.Price.HasValue)
                                    {
                                        <b>@item.ApplicationPublish.Price ریال</b>
                                    }
                                    else
                                    {
                                        <b>رایگان </b>
                                    }

                                </label>
                            </div>
                            <a asp-action="Details" asp-controller="Home" class="btn btn-success fa-pull-right btn-outline-info" asp-route-id="@item.ApplicationPublish.Id">مشاهده جزئیات</a>
                            @if (item.IsFavorite && item.ShowIcon)
                            {

                                <img class="fas fa-heart fa-2x" style="color:teal" onclick=RemoveFavorite(@item.ApplicationPublish.Id) width="50px" height="50px" />
                            }
                            @if (!item.IsFavorite && item.ShowIcon)
                            {
                                <img class="fal fa-heart fa-2x" onclick=AddToFavorite(@item.ApplicationPublish.Id) width="50px" height="50px" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@if ((bool)this.ViewBag.ShowReturn)
{
    <div>
        <a asp-action="Index" class="btn-outline-secondary"><i class="far fa-chevron-right"></i>&nbsp;بازگشت</a>
    </div>
}

<script type="text/javascript">
    function AddToFavorite(id)
    {
        window.location.href ="@Url.Action("Favorite", "Home")?id="+ id;
    }
    function RemoveFavorite(id)
    {
        window.location.href ="@Url.Action("RemoveFavorite", "Home")?id=" + id;
    }
</script>
