@model ApplicationStore.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-primary p-md-3">ویرایش کامنت</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationPublish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationPublish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationStoreUser.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationStoreUser.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn-outline-secondary"><i class="far fa-chevron-right"></i>&nbsp;بازگشت</a> |
    <a asp-action="Edit" asp-route-id="@Model.ApplicationStoreUser.Id" class="btn-outline-secondary"><i class="far fa-pencil-alt"></i>&nbsp;ویرایش</a>
</div>
