@model IEnumerable<ApplicationStore.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-primary p-md-3">لیست کامنت ها</h2>

<table class="table table-striped table-hover border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationPublish.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationStoreUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationPublish.Application.Title) &nbsp;  @Html.DisplayFor(modelItem => item.ApplicationPublish.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStoreUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentState)
            </td>
            <td>
                <partial name="_TableButtonPartial" model="item.Id" />
            </td>
        </tr>
        }
    </tbody>
</table>
