@model ApplicationStore.Models.ViewModels.ApplicationViewModel

@{
    ViewData["Title"] = "Delete";
}


<h3 class="text-primary p-md-3">آیا اطمینان دارید؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.RegisterDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterDateShamsi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.ApplicationCategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.ApplicationCategory.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.ApplicationStoreUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.ApplicationStoreUser.FirstName)&nbsp;@Html.DisplayFor(model => model.Application.ApplicationStoreUser.LastName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Application.Id" />
        <a asp-action="Index" class="btn-outline-secondary"><i class="far fa-chevron-right"></i>&nbsp;بازگشت</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
