@model ApplicationStore.Models.Platform

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4 class="text-primary p-md-3">جزئیات پلتفرم</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationStoreUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationStoreUser.FirstName)&nbsp;@Html.DisplayFor(model => model.ApplicationStoreUser.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn-outline-secondary"><i class="far fa-chevron-right"></i>&nbsp;بازگشت</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn-outline-secondary"><i class="far fa-pencil-alt"></i>&nbsp;ویرایش</a>
</div>
